<div class="container-fluid mt-10">
    <div class="card">
        <div class="card-header">
            <h4>Lista de Areas</h4>
        </div>
        <div class="card-body">
            <dx-data-grid [dataSource]="areas" [hoverStateEnabled]="true" [showBorders]="true" [columnAutoWidth]="true" [repaintChangesOnly]="true" [showColumnLines]="true" [showRowLines]="true" (onRowUpdated)="updateArea($event.data)" (onRowRemoved)="deleteArea($event.data.idArea)"
                (onRowInserted)="addArea($event.data)">

                <dxo-scrolling rowRenderingMode="virtual">
                </dxo-scrolling>
                <dxo-paging [pageSize]="10">
                </dxo-paging>
                <dxo-pager [visible]="true" allowedPageSizes="true" displayMode="full" [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
                </dxo-pager>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true" [texts]="textoEditarRowGrid">
                    <dxo-popup title="Áreas" [showTitle]="true" [width]="700" [height]="525">
                    </dxo-popup>
                    <dxo-form>
                        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                            <dxi-item dataField="nombreArea"><dxi-validation-rule type="required" message="Dato requerido"></dxi-validation-rule></dxi-item>
                        </dxi-item>
                    </dxo-form>
                </dxo-editing>

                <dxi-column dataField="idArea" caption="Código" [width]="150" [allowEditing]="false" alignment="center">
                </dxi-column>
                <dxi-column dataField="nombreArea" caption="Área" alignment="center">
                </dxi-column>
            </dx-data-grid>
        </div>
    </div>

</div>
